################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SisBancaCapital/SisBancaCapital.sln
/SisBancaCapital/SisBancaCapital.sln
/SisBancaCapital/SisBancaCapital.sln
